---

---

<!-- footer -->
<footer class="footer mt-[80px] xl:mt-[150px] relative z-20">
    <div class="footer__container container mx-auto px-0">
        <div class="flex flex-col xl:flex-row xl:gap-[100px] xl:mb-[150px]">
            <div class="footer__item w-full max-w-[400px] mx-auto mb-8 text-center xl:text-left">
                <!-- logo -->
                <a href="#home" class="flex justify-center xl:justify-start mb-8">
                    <img src="assets/logo.svg" alt="logo">
                </a>
                <p class="mb-8 text-xl">It is a long established fact that a reader will be distracted lookings.</p>
                <!-- social -->
                <ul class="text-primary flex gap-[54px] justify-center xl:justify-start">
                    <li><a href="#home"><i class="ri-facebook-fill"></i></a></li>
                    <li><a href="#home"><i class="ri-twitter-fill"></i></a></li>
                    <li><a href="#home"><i class="ri-linkedin-fill"></i></a></li>
                    <li><a href="#home"><i class="ri-instagram-fill"></i></a></li>
                </ul>
            </div>
            <div class="flex-1 flex flex-col xl:flex-row text-center xl:text-left gap-12 xl:gap-[100px] xl:justify-end">
                <div class="footer__item">
                    <h3 class="h3 mb-3">Pages</h3>
                    <ul class="flex flex-col gap-4">
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#work">Our Work</a></li>
                        <li><a href="#news">News</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="h3 mb-3">Services</h3>
                    <ul class="flex flex-col gap-4">
                        <li><a href="#home">Kitchen</a></li>
                        <li><a href="#home">Living Area</a></li>
                        <li><a href="#home">Bathroom</a></li>
                        <li><a href="#home">Bedroom</a></li>
                    </ul>
                </div>
                <div class="footer__item max-w-[260px] mx-auto xl:mx-0">
                    <h3 class="h3 mb-3">Contact</h3>
                    <div class="flex flex-col gap-6 text-[20px]">
                        <p>55 East Birchwood Ave. Brooklyn, New York 11201</p>
                        <p>contact@interno.com</p>
                        <p>(123) 456-7890</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- copyright -->
    <p class="footer__copyright text-center text-lg py-10 bg-white xl:border-t">Copyright © Interno 2024. All rights reserved.</p>
</footer>