---

---

<!-- header -->
<header class="header sticky top-0 h-[90px] shadow-xl z-30 bg-white">
    <div
        class="container mx-auto flex justify-between h-full items-center"
    >
        <!-- logo -->
        <a href="#home">
            <img src="assets/logo.svg" alt="logo" />
        </a>
        <!-- nav -->
        <nav class="nav">
            <!-- nav mobile trigger -->
            <div class="cursor-pointer lg:hidden" id="nav-trigger-btn">
                <i class="ri-menu-4-line text-4xl text-primary"></i>
            </div>
            <ul
                class="fixed w-full h-0 p-0 bg-white overflow-hidden border-t top-[90px] left-0 right-0 flex flex-col gap-4 lg:relative lg:flex-row lg:p-0 lg:top-0 lg:border-none lg:h-full transition-all duration-300"
                id="nav-menu"
            >
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#work">Our Work</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>