---

---

<!-- stats -->
<section class="stats mt-[80px] xl:mt-[150px] relative z-20 bg-accent-secondary py-[80px] xl:py-[150px]">
    <div class="container mx-auto">
        <!-- grid -->
        <div class="grid grid-cols-1 xl:grid-cols-4 gap-12">
            <!-- grid item -->
            <div class="stats__item text-center xl:border-r xl:border-accent">
                <h1 class="h1 font-primary text-accent">12</h1>
                <p>Years of Experience</p>
            </div>
            <!-- grid item -->
            <div class="stats__item text-center xl:border-r xl:border-accent">
                <h1 class="h1 font-primary text-accent">85</h1>
                <p>Projects Completed</p>
            </div>
            <!-- grid item -->
            <div class="stats__item text-center xl:border-r xl:border-accent">
                <h1 class="h1 font-primary text-accent">15</h1>
                <p>Active Projects</p>
            </div>
            <!-- grid item -->
            <div class="stats__item text-center">
                <h1 class="h1 font-primary text-accent">95</h1>
                <p>Happy Customers</p>
            </div>
        </div>
    </div>
</section>