---

---

<!-- work -->
<section id="work" class="work mt-[80px] xl:mt-[150px] relative z-20">
    <div class="container mx-auto xl:px-0">
        <!-- text -->
        <div class="text-center mb-24">
            <h2 class="work__title h2 mb-4">Follow Our Projects</h2>
            <p class="work__subtitle max-w-3xl mx-auto">
                It is a long established fact that a reader will be distracted by the of readable content of page lookings at its layouts points.
            </p>
        </div>
        <!-- grid -->
        <div class="work__grid grid grid-cols-1 xl:grid-cols-2 gap-x-[104px] gap-y-[56px]">
            <!-- item 1 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
                <img src="assets/work/01.png" alt="" class="mb-6">
                <div class="flex justify-between items-center w-full">
                    <div>
                        <h3 class="h3">Modern Kitchen</h3>
                        <p>Decor/Architecture</p>
                    </div>
                    <button class="work__btn bg-accent-secondary hover:bg-accent/20 w-[70px] h-[70px] rounded-full">
                        <i class="ri-arrow-right-s-line text-3xl text-primary pl-1"></i>
                    </button>
                </div>
            </div>
            <!-- item 2 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
                <img src="assets/work/02.png" alt="" class="mb-6">
                <div class="flex justify-between items-center w-full">
                    <div>
                        <h3 class="h3">Modern Kitchen</h3>
                        <p>Decor/Architecture</p>
                    </div>
                    <button class="work__btn bg-accent-secondary hover:bg-accent/20 w-[70px] h-[70px] rounded-full">
                        <i class="ri-arrow-right-s-line text-3xl text-primary pl-1"></i>
                    </button>
                </div>
            </div>
            <!-- item 3 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
                <img src="assets/work/03.png" alt="" class="mb-6">
                <div class="flex justify-between items-center w-full">
                    <div>
                        <h3 class="h3">Modern Kitchen</h3>
                        <p>Decor/Architecture</p>
                    </div>
                    <button class="work__btn bg-accent-secondary hover:bg-accent/20 w-[70px] h-[70px] rounded-full">
                        <i class="ri-arrow-right-s-line text-3xl text-primary pl-1"></i>
                    </button>
                </div>
            </div>
            <!-- item 4 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
                <img src="assets/work/04.png" alt="" class="mb-6">
                <div class="flex justify-between items-center w-full">
                    <div>
                        <h3 class="h3">Modern Kitchen</h3>
                        <p>Decor/Architecture</p>
                    </div>
                    <button class="work__btn bg-accent-secondary hover:bg-accent/20 w-[70px] h-[70px] rounded-full">
                        <i class="ri-arrow-right-s-line text-3xl text-primary pl-1"></i>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</section>