---
// component import
import MainHead from "./MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// style import
import "../styles/global.css";
import "../styles/swiper-bundle.min.css";

---

<html lang="en">
	<MainHead />
	<body class="bg-gray-100">
        <Header />
        <!-- page wrapper -->
		<main class="max-w-[1920px] mx-auto bg-white overflow-hidden">
            <!-- grid img -->
			<div
                class="xl:bg-grid xl:bg-center xl:bg-repeat-y fixed top-0 bottom-0 left-0 right-0 z-10"
            ></div>
            <!-- content -->
            <slot>Default Content for astro</slot>
            <Footer />
        </main>

        <script>
            //<!-- MAIN JS -->
            import "../js/utils.js";
            //<!-- SWIPER JS -->
            import "../js/swiper-bundle.min.js";
        </script>
	</body>
</html>
